@font-face {
    font-family: 'Inter';
    src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
    font-weight: 400 600 700;
}

:root {
    --grey1-: hsl(0, 0%, 20%);
    --grey2-: hsl(0, 0%, 12%);
    --grey3-: hsl(0, 0%, 8%);
    --green-: hsl(75, 94%, 57%);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    background-color: var(--grey3-);
    font-family: "Inter", serif;
}


.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

/* Card */
.card {
    width: 80%;
    background-color: var(--grey2-);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

/*Image*/
.img-div {
    width: 30%;
    margin-bottom: 1rem;
}

img {
    width: 100%;
    border-radius: 50%;
}

/* Text */
.main-text {
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.london {
    color: var(--green-);
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 0.8rem;
}

.front {
    color: white;
    margin: 1rem 0; 
    font-weight: 400;
}

/*Links*/
.card a{
    width: 90%;
    height: auto;
    text-align: center;
    background-color: var(--grey1-);
    margin: 0.5rem;
    color: white;
    text-decoration: none;
    padding: 1rem;
    border-radius: 10px;
    font-weight: 600;
}

.card a:hover {
    background-color: var(--green-);
    color: var(--grey2-);
    transition: ease-in-out 0.2s;
}

.attribution{
    margin: 0;
    padding: 0;
    
}

@media (min-width: 375px) {
    .card {
        max-width: 23rem;
    }
    .attribution { font-size: 11px; text-align: center; color: white; margin-top: 0;}
    .attribution a { color: hsl(228, 45%, 44%); }
}
